* {
  margin: 0;
  padding: 0;
}
.what {
  width: 100%;
  height: 410px;
  margin-top: 100px;
  .child__what {
    width: 1300px;
    height: inherit;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(1, 100%);
    /* column-gap: 10px; */
    .left {
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .ECATALOGUE {
        position: absolute;
        padding: 10px 30px;
        width: fit-content;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        color: whitesmoke;
        text-decoration: none;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        transition: 300ms;
        &:hover {
          background-color: #e0d6da99;
          color: #2b2b2b;
        }
      }
    }
    .right {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 100%);
      & div {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 60% 40%;
        .right__top {
          width: 90%;
          margin: 0 auto;
          border-radius: 5px;
          overflow: hidden;
          border-radius: 5px;
          position: relative;
          & img {
            justify-self: center;
            width: 100%;
            height: 246px;
            object-fit: cover;
            display: block;
            transition: 300ms;
          }
          .label {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #685bc7;
            left: 15px;
            top: 15px;
          }
          .basket {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: lightgrey;
            right: 15px;
            bottom: 15px;
          }
          &:hover img {
            transform: scale(1.1, 1.1);
          }
        }
        .right__bottom {
          display: grid;
          grid-template-rows: repeat(4, auto);
          .right__bottom__first {
            padding-left: 10px;
            padding-top: 10px;
            box-sizing: border-box;
            display: flex;
            flex-flow: row wrap;
            column-gap: 2px;
            & svg {
              width: 20px;
              height: 20px;
              & g {
                & path {
                  fill: #80cdd0 !important;
                }
              }
            }
          }
          div {
            color: #2b2b2b;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
            padding-left: 10px;
            font-weight: bold;
          }
          .right__bottom__last {
            display: flex;
            column-gap: 10px;
          }
        }
      }
    }
  }
}
